

<%- include('../common/head') %>

<body id="alunos">

    <%- include('../common/header') %>

    <div class="divisor">
        <h4 class="pt-2 mr-5">Alunos</h4>    
    </div>

    <div id="alunos-cabecalho">
        <div class="container">
        <div class="row" >
            <div class="col-md-2 ">
                NOME COMPLETO
            </div>
            <div class="col-md-2">
                ENDEREÇO
            </div>
            <div class="col-md-2">
                NASCIMENTO
            </div>
            <div class="col-md-2">
               ESCOLARIDADE
            </div>
            <div class="col-md-1">
                RENDA
            </div>
            <div class="col-md-2">
                RENDA FAMILIAR
            </div>
        </div>
        </div>
    </div>


</body>