<!DOCTYPE html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
        
        <!-- CSS only -->
        <link href="../../public/icon/font/css/open-iconic-bootstrap.css" rel="stylesheet">
            
        <!-- Estilo customizado -->
        <link rel="stylesheet" type="text/css" href="../../public/css/estilo.css">

        <title>Plataforma Impact</title>

    </head>

    <body id="cadastro">
        <header>
            <div class="pt-2 ml-2 mr-2">
                <div class="row">
                    <div class="col-md-4">
                        <button class="navbar-toggler navbar-dark" data-toggle="collapse"
                        data-target="#navprincipal">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navprincipal">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="" class="nav-link text-uppercase text-light">Home</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="row">
                            <h4 class="display-4 ml-4 mr-4"> Lays dos Santos Monteiro</h4>
                            <div class="icon-user">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#264178" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="d-flex justify-content-end  pt-1">
                            <!--<button>Sair</button>-->
                            <a href="/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="White" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>   
        </header>

        <div class="divisor">
            <h4 class="pt-4 mr-5">Ficha de Matrícula</h4>    
        </div>

        <div class="container">
            <form class="" action="/salvar-estudante" method="POST">
                <!-- caixas de texto -->
                <div class="row mt-3">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input class="form-control w-100" type="text" id="nome" name="nome" 
                                placeholder="Nome" >
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="sobrenome">Sobrenome</label>
                                <input class="form-control w-100" type="text" id="sobrenome" name="sobrenome" 
                                placeholder="Sobrenome">
                            </div>
                        </div>
                </div>
                
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="endereco">Endereço</label>
                            <input class="form-control w-100" type="text" id="endereco" name="endereco" 
                            placeholder="Endereço">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="data">Data de nascimento</label>
                            <input class="form-control larg-form" type="date" id="data" name="data" 
                            value = "">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="naturalidade">Cidade de nascimento</label>
                            <input class="form-control w-75" type="text" id="naturalidade" name="naturalidade"
                            placeholder="">
                        </div>
                    </div>
                    
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="escolaridade">Escolaridade</label>
                            <select name="escolaridade" id="escolaridade" class="custom-select">
                                <option selected></option>
                                <option value="1">Fundamental Incompleto</option>
                                <option value="2">Fundamental Completo</option>
                                <option value="3">Ensino Médio Incompleto</option>
                                <option value="4">Ensino Médio Completo</option>
                                <option value="5">Ensino Superior Incompleto</option>
                                <option value="6">Ensino Superior Completo</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="estadoCivil">Estado Civil</label>
                            <select class="custom-select" id="estadoCivil" name="estadoCivil">
                                <option selected></option>
                                <option value="1">Solteiro</option>
                                <option value="2">Casado</option>
                                <option value="3">Divorciado</option>
                                <option value="4">Viúvo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="parentes">Mora com quantas pessoas?</label>
                            <select class="custom-select" id="parentes" name="parentes">
                                <option selected></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="2">3</option>
                                <option value="2">4</option>
                                <option value="3">5+</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="situacaoEmprego">Situação de emprego</label>
                            <select class="custom-select" id="situacaoEmprego" name="situacaoEmprego">
                                <option selected></option>
                                <option value="Desempregado">Desempregado</option>
                                <option value="Trabalhando">Trabalhando</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="renda">Renda</label>
                            <select class="custom-select" id="renda" name="renda">
                                <option selected></option>
                                <option value="0 à 499$">0 à 499$</option>
                                <option value="500 à 999$">500 à 999$</option>
                                <option value="1000 à 1999$">1000 à 1999$</option>
                                <option value="2000 à 2999$">2000 à 2999$</option>
                                <option value="acima de 3000$">acima de 3000$</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="rendaFamiliar">Renda Familiar</label>
                            <select class="custom-select" id="rendaFamiliar" name="rendaFamiliar">
                                <option selected></option>
                                <option value="0 à 499$">0 à 499$</option>
                                <option value="500 à 999$">500 à 999$</option>
                                <option value="1000 à 1999$">1000 à 1999$</option>
                                <option value="2000 à 2999$">2000 à 2999$</option>
                                <option value="acima de 3000$">acima de 3000$</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="rg">RG</label>
                            <input class="form-control larg-form" type="text" id="rg" 
                            name="rg">
                        </div>
                    </div>
                </div>

                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input class="form-control w-75" type="text" id="cpf" name="cpf">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input class="form-control w-75" type="text" id="telefone" name="telefone">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control w-100" type="email" id="email">
                        </div>
                    </div>

                </div>

                
                <!-- botao -->
                <input class="btn btn-primary mb-2" type="submit" value="Enviar">
            </form>
        </div>


        <!-- JavaScript Bundle with Popper -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="../../public/js/bootstrap.min.js"></script>
    </body>
</html>