<!DOCTYPE html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
        
        <!-- CSS only -->
        <link href="../../public/icon/font/css/open-iconic-bootstrap.css" rel="stylesheet">
            
        <!-- Estilo customizado -->
        <link rel="stylesheet" type="text/css" href="../../public/css/estilo.css">


        <title>Plataforma Impact</title>

    </head>

    <body id="cadastro">
        <header>

            <div class="pt-2 ml-2 mr-2">
                <div class="row">
                    <div class="col-md-4">
                        <button class="navbar-toggler navbar-dark" data-toggle="collapse"
                        data-target="#navprincipal">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navprincipal">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="" class="nav-link text-uppercase text-light">Home</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="row">
                            <h4 class="display-4 mr-5 pl-5"> Lays dos Santos Monteiro</h4>
                            <div class="icon-user">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#264178" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="d-flex justify-content-end  pt-1">
                            <button>Sair</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </header>

        <div class="divisor">
            <h4 class="pt-4 mr-5">Ficha de Matrícula</h4>    
        </div>

        <div class="container">
            <form class="">
                <!-- caixas de texto -->
                <div class="row mt-3" style="border: 1px solid red;">
                        <div class="col-md-6">
                            <div class="form-group" style="border: 1px solid red;">
                                <label for="nome">Nome</label>
                                <input class="form-control" type="text" id="nome" placeholder="Nome">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nome">Sobrenome</label>
                                <input class="form-control" type="text" id="sobrenome" placeholder="Sobrenome">
                            </div>
                        </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="email">Endereço</label>
                        <input class="form-control" type="email" id="email" placeholder="Endereço">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="email">Data de nascimento</label>
                        <input class="form-control" type="email" id="email" placeholder="Digite seu email">
                    </div>
                </div>
                

                
                
                <div class="form-group">
                    <label for="email">Naturalidade</label>
                    <input class="form-control" type="email" id="email" placeholder="Digite seu email">
                </div>

                <div class="form-group">
                    <label for="email">Escolaridade</label>
                    <input class="form-control" type="email" id="email" placeholder="Digite seu email">
                </div>

                <div class="form-group">
                    <label for="email">Estado civil</label>
                    <input class="form-control" type="email" id="email" placeholder="Digite seu email">
                </div>

                <div class="form-group">
                    <label for="telefone">Parentes</label>
                    <input class="form-control" type="text" id="telefone">
                </div>

                <div class="form-group">
                    <label for="telefone">Situação de emprego</label>
                    <input class="form-control" type="text" id="telefone">
                </div>

                <div class="form-group">
                    <label for="telefone">Renda</label>
                    <input class="form-control" type="text" id="telefone">
                </div>

                <div class="form-group">
                    <label for="telefone">Renda Familiar</label>
                    <input class="form-control" type="text" id="telefone">
                </div>

                <div class="form-group">
                    <label for="telefone">RG</label>
                    <input class="form-control" type="text" id="telefone">
                </div>

                <div class="form-group">
                    <label for="telefone">CPF</label>
                    <input class="form-control" type="text" id="telefone">
                </div>

                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input class="form-control" type="text" id="telefone">
                </div>

                <div class="form-group">
                    <label for="telefone">Email</label>
                    <input class="form-control" type="text" id="telefone">
                </div>



                <!-- botao -->
                <input class="btn btn-primary mb-2" type="submit" value="Enviar">
            </form>
        </div>


        <!-- JavaScript Bundle with Popper -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="../../public/js/bootstrap.min.js"></script>
    </body>
</html>