<%- include('../common/head') %>

    <body id="tela-login" class="main-bg">
        
            <div class="login-container text-c animated flipInX mt-2 pt-2">

                <img class="mt-5" src="../../public/img/Logo.png"  width="75%" height="75%" alt="Logo">

                    <div class="container-content shadow p-2 mb-3 mt-5 rounded form-login">

                        <div>
                            <img src="../../public/img/logoP.jpg" alt="LogoP" width="25%" height="25%">
                        </div>
                        

                        <form action="/admin" class="margin-t mt-2" method="POST">
                            <div class="form-group mb-4 d-flex justify-content-center rounded">

                                <input type="text" id="login" name= "login" 
                                class="form-control border-secondary" 
                                placeholder="login" required="">

                            </div>
                            <div class="form-group d-flex justify-content-center rounded">

                                <input type="password" id="senha" name= "senha" 
                                class="form-control d-flex border-secondary" 
                                placeholder="*****" required="">
                                
                            </div>
                            <p>
                                login ou senha incorretos!
                            </p>
                            <!--
                            <button type="submit" class="form-button button-l margin-b">Entrar</button>
                            <a class="text-darkyellow" href="#"><small>Esqueceu sua senha?</small></a>
                            <p class="text-whitesmoke text-center"><small>Do not have an account?</small></p>
                            <br>
                            <a class="text-darkyellow" href="#"><small>Registrar</small></a>
                            -->
                            <button type="submit"
                            id = "icone" 
                            class="oi oi-account-login text-warning btn btn-link mt-2 mb-3 border-white">
                            </button>

                        </form>
                    
                        <!--
                        <p class="margin-t text-whitesmoke"><small> Plataforma Impact &copy; 2021</small> </p>
                            -->
                    </div>
            </div>
    </body>
</html>