<%- include('../common/header') %>

<body id="area-principal">

    <%- include('../common/head') %>
    <!--
    <header>
        <div class="pt-2 ml-2 mr-2">
            <div class="row">
                <div class="col-md-4">
                    <button class="navbar-toggler navbar-dark" data-toggle="collapse"
                    data-target="#navprincipal">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navprincipal">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="" class="nav-link text-uppercase text-light">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="display-4 mr-5 pl-5"> 
                            <%= name %>
                        </h4>
                        <div class="icon-user">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#264178" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="d-flex justify-content-end  pt-1">
                        <button>Sair</button>
                    </div>
                </div>
            </div>
        </div> 
    </header>
    -->

    <div class="container d-flex justify-content-end mt-5 mb-4">
        <a href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#eb7b3c" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
        </a>
    </div>
    
    <section id="sec-principal" class="d-flex align-items-center justify-content-center display-4 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-1">
                    <div class="icon-sec d-flex align-items-center justify-content-center">
                        <a href="">
                            Alunos
                        </a>
                    </div>
                    
                </div>
                <div class="col-md-4 mb-1">
                    <div class="icon-sec d-flex align-items-center justify-content-center">
                        <a href="">
                            Cursos
                        </a>
                    </div>
                </div>
                <div class="col-md-4 mb-1">
                    <div class="icon-sec d-flex align-items-center justify-content-center">
                        <a href="">
                            Avaliações
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="pt-5 mt-1">
        <img src="../../public/img/logoP.jpg" alt="LogoP" width="10%" height="25%">
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
</body>
</html>