

<%- include('../common/head') %>

<body id="area-principal">

    <%- include('../common/header') %>

    <div class="container d-flex justify-content-end mt-5 mb-3">
        <form action="/cadastro" method="POST"> 
        <button id="logo-cadastro" class="btn btn-link" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#eb7b3c" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
        </button>
        </form>
    </div>

    <br style="clear: both;">
    
    <section id="sec-principal" class="d-flex align-items-center justify-content-center display-4 mb-2 ml-auto mr-auto pl-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-1">
                    <div class="icon-sec d-flex align-items-center justify-content-center">
                        <form action="/alunos" method="POST">
                            <button class="btn btn-link" type="submit">
                                Alunos
                            </button>
                        </form>
                    </div>
                    
                </div>
                <div class="col-md-4 mb-1">
                    <div class="icon-sec d-flex align-items-center justify-content-center">
                        <button class="btn btn-link">
                            Cursos
                        </button>
                    </div>
                </div>
                <div class="col-md-4 mb-1">
                    <div class="icon-sec d-flex align-items-center justify-content-center">
                        <button class="btn btn-link">
                            Avaliações
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="logo">
        <img src="../../public/img/logoP.jpg" alt="LogoP" width="10%" height="25%">
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
</body>
</html>