<header>
    <div class="pt-2 ml-2 mr-2">
        <div class="row">
            <div class="col-md-4">
                <button class="navbar-toggler navbar-dark" data-toggle="collapse"
                data-target="#navprincipal">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navprincipal">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="" class="nav-link text-uppercase text-light">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="row">
                    <h4 class="display-4 mr-5 pl-5"> 
                        <%= name %>
                    </h4>
                    <div class="icon-user">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#264178" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="d-flex justify-content-end  pt-1">
                    <button>Sair</button>
                </div>
            </div>
        </div>
    </div> 
</header>